<template>
	<div class="main">
		<div class="carousel-container">
			<div
				class="carousel-slider"
				:style="{
					transform: `translateX(-${100 * count}%)`,
				}"
				ref="carouselSlider"
				@transitionend="transitionEnded"
			>
				<img
					:src="img"
					alt=""
					v-for="(img, index) in imgList"
					:key="index"
					:class="{
						lastClone: index === 0,
						firstClone: index === imgList.length - 1,
					}"
					ref="slides"
				/>
			</div>
		</div>
		<div class="form" ref="form">
			<div class="buttons" v-for="(_, index) in size - 1" :key="index">
				<button
					class="btn"
					v-if="index !== 0"
					:class="{ active: count === index }"
					type="button"
					@click="changeImg(index)"
				></button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			imgList: {
				required: true,
			},
		},
		computed: {
			size() {
				return this.imgList.length;
			},
		},
		data() {
			return {
				timer: null,
				count: 1,
			};
		},
		methods: {
			changeImg(index) {
				this.resetTimer();
				this.count = index;
				this.setTimer();
			},
			resetTimer() {
				clearInterval(this.timer);
			},
			setTimer() {
				this.timer = setInterval(() => {
					this.count = (this.count + 1) % this.size;
					this.$refs.carouselSlider.style.transition = "transform 1s ease";
				}, 5000);
			},
			transitionEnded() {
				if (this.$refs.slides[this.count].classList.contains("lastClone")) {
					this.$refs.carouselSlider.style.transition = "none";
					this.count = this.size - 2;
					this.$refs.carouselSlider.style.transform = `translateX(calc(-${100 *
						this.count}%)`;
				}
				if (this.$refs.slides[this.count].classList.contains("firstClone")) {
					this.$refs.carouselSlider.style.transition = "none";
					this.count = this.size - this.count;
					this.$refs.carouselSlider.style.transform = `translateX(-${100 *
						this.count}%)`;
				}
			},
		},
		mounted() {
			this.imgList.push(this.imgList[0]);
			this.imgList.unshift(this.imgList[this.size - 1]);
			this.setTimer();
		},
	};
</script>

<style lang="scss" scoped>
	.carousel-container {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	.carousel-slider {
		object-fit: cover;
		display: flex;
		width: 100%;
		// transition: transform 0.4s ease;
		img {
			width: 100%;
		}
	}
	.form {
		width: 20%;
		margin: 0 auto;
		padding-top: 20px;
	}
	.buttons {
		display: inline-block;
		.btn {
			cursor: pointer;
			width: 15px;
			height: 15px;
			background: #5b5c5d;
			border-radius: 50%;
			margin: 0 5px;
			border: none;
			outline: none !important;
			&.active {
				background-color: #ffcc00;
			}
		}
	}
</style>
